{
  "cache": false,
  "check-coverage": true,
  "extension": [
      ".ts",
      ".tsx"
  ],
  "include": [
    "src/**/*.ts",
    "src/**/*.tsx"
  ],
  "exclude": [
    "src/**/*.d.ts",
    "**/*.spec.ts",
    "**/*.IOC.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true,
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}
